@media screen and (max-width:400px){
    .header__menu{
            display: none;
    }
    .header__logo img{
        width: 50px;
    }
    .wrapper{
        max-width: 340px;
        padding: 0 10px;
    }
    .header__top{
        padding-top: 20px;
    }
    .nav__btn_mobile{
        display: flex;
    }
    .header__title h2{
        font-size: 30px;
        line-height: 36px;
    }
    .header__title h1{
        font-size: 40px;
        line-height: 46px;
    }
    .header__title p::before,
    .header__title p::after{
        display: none;
    }
    .header__box{


    }
    .box__l{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #2C2C2C;
        padding-top: 35px;
        background: #FFFFFF;
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

        width: 290px;
        height: 276px;
        left: 15px;
        top: 130px;
    }
    .box__c{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #2C2C2C;
        padding-top: 35px;
        background: #FFFFFF;
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

        width: 290px;
        height: 276px;
        left: 15px;
        top: 430px;
    }
    .box__r{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #2C2C2C;
        padding-top: 35px;
        background: #FFFFFF;
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

        width: 290px;
        height: 276px;
        left: 15px;
        top: 730px;
    }

}